<ion-header>
  <ion-toolbar color="black">
    <ion-title style="text-align: center;">A PROPOS DE NOUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>


  <ion-grid no-padding>  <div class="backicon" (click)="moveToPrev(theSlides)">
    <ion-icon style="background-color: #e1be64;border-radius:50%" name="arrow-back-circle-outline"></ion-icon>
  </div>
  <div class="nexticon" (click)="moveToNext(theSlides)">
    <ion-icon style="background-color: #e1be64;border-radius:50%"  name="arrow-forward-circle-outline"></ion-icon>
  </div>
    <!-- single row contain single column due to size=4  -->
    <ion-row no-padding>     
      <ion-col size="12" no-padding>
        <ion-slides pager="true" #theSlides>
          <ion-slide style="text-align: inherit;" >
            
            <div style="width: 80%;">
           
            
              
                Plus besoin de vous déplacer. FROZY vous propose une large gamme de produits surgelés prêts à l’emploi :
          <ul>
               <li> Une Gamme complète de Pains Boulangers & Viennoiseries pur beurre
                Prêt à cuir au four et à consommer chaud et croustillant !</li>
                <li>
                Une Large variété de succulentes Pâtisseries et de délicieux Desserts Glacés préparés par nos Maîtres Pâtissiers.
              </li>
              <li>
            Et Pour les fins connaisseurs, Notre Maître Glacier a concocté des Créations uniques et raffinées aux goûts inimitables.
          </li>
          </ul> 
              
           </div>
           </ion-slide>
           
           <ion-slide style="text-align: inherit;">
            <ion-card style="width: 80%;">
              <img src="assets/image/frozyabout.jpg"/>
              <ion-card-header>
                <ion-card-title style="text-align: center;font-size: 15px;font-weight:bold">NOS ENGAGEMENTS</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
               Tous nos produits sont élaborés de manière artisanale et sont agrées ONSSA, répondant aux normes de sécurité sanitaires les plus exigeantes
          
          AGRÉMENT BOULANGERIE: PBBP.7.151.17
          AGRÉMENT GLACE : LPL.7.72.17
          
          Le processus de production est assuré par des professionnels du métier, et ce de la réception des matières premières au produit fini. L’excellence et la qualité optimale,telles sont nos devises.
          
            
              </ion-card-content>
            </ion-card>
          
          </ion-slide>

          <ion-slide >
            <ion-card style="width: 80%;">
    
              <ion-card-header>
                <ion-card-title style="text-align: center;font-size: 15px;font-weight:bold">LIVRAISON</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Au vu des circonstances actuelles liées au COVID, le service livraison prend toutes les mesures nécessaires afin de vous livrer dans les meilleures conditions.
                <br><br>
              </ion-card-content>
              
          <img src="assets/image/frozylogo.jpg" height="50px"/>  
            </ion-card>
          </ion-slide>


          <ion-slide >
            <ion-card style="width: 80%;">
    
              <ion-card-header>
                <ion-card-title style="text-align: center;font-size: 15px;font-weight:bold">َA propos de cette version </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Devanture confortable et conviviale
                Dans cette version, vous pouvez partager nos produits avec vos amis <br>
                Vous pouvez également communiquer avec nous sur tous les médias sociaux et via WhatsApp ou par e-mail
                <br>
              </ion-card-content>
              
          <img src="assets/image/frozy4.jpg" height="200px"/>  
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
