<ion-header>
  <ion-toolbar color="black" >
   
    <ion-title style="text-align: center;font-weight: bold;color: #d2ab5a ;"> Merci </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon name="checkmark-circle" style="height: 200px;width: 100%;" color="secondary"></ion-icon>
      <ion-card-header> <ion-card-subtitle style="text-align: center;font-size: 15px;font-weight:bold">Votre demande a été envoyée avec succès 
      </ion-card-subtitle> 
      <ion-card-title style="text-align: center;font-size: 15px;font-weight:bold">Merci</ion-card-title>
     </ion-card-header>
      <ion-card-content style="text-align: center;font-size: 15px;font-weight:bold">Merci de magasiner avec nous.</ion-card-content>
     
      <ion-button expand="block" fill="outline" [routerLink]="['/tabs/home']"  color="secondary">
       Continuer vos achats</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>