<ion-tabs color="#e1be64">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label style=" font-weight: bold;">{{'Home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="grid-outline" mode="md"></ion-icon>
      <ion-label style=" font-weight: bold;">{{'Produits' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label style=" font-weight: bold;">{{'Présentation' | translate}}</ion-label>
    </ion-tab-button>

  

    <ion-tab-button tab="cart">
      <ion-icon name="basket" mode="md"></ion-icon>
      <ion-label style=" font-weight: bold;">{{'Cart' | translate}}</ion-label>
      <ion-badge color="danger" *ngIf="data.count != 0">{{data.count}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label style=" font-weight: bold;">{{'Account' | translate}}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
